/* Custom Styles for Dropdown Menu */
.form-select {
    background-color: #343a40; /* Background color */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Border radius */
    padding: 8px; /* Padding */
  }

  /* Style the options inside the dropdown */
  .form-select option {
    background-color: #343a40; /* Background color */
    color: #ffffff; /* Text color */
  }

  /* Custom Styles for Gallery Section */
  .gallery-container {
    width: 1590px; /* Set the width to 1590 pixels */
    height: 830px; /* Set the height to 830 pixels */
    margin: 0 auto; /* Center the gallery horizontally */
    overflow: hidden; /* Hide overflow content if any */
    display: none; /* Hide the gallery by default */
  }

  .gallery-item {
    width: 100%; /* Make each gallery item take the full width */
    height: 100%; /* Make each gallery item take the full height */
    box-sizing: border-box; /* Include padding and border in the total width/height */
  }

  .gallery-item img {
    width: 100%; /* Make the images inside each gallery item take the full width */
    height: 100%; /* Make the images inside each gallery item take the full height */
    object-fit: cover; /* Ensure the image covers the entire container */
  }